<header class="page-header">
  <h1>Login</h1>
</header>

<div class="col-sm-12">
  <dl class="dl-horizontal">

    <%= form_tag '/login' do %>

      <dt>Email:</dt> <dd><%= text_field_tag :email %></dd><br />
      <dt>Password:</dt> <dd><%= password_field_tag :password %></dd><br />
      <dd><%= submit_tag "Sign In" %></dd>

    <% end %>

  </dl>
</div>